HandsOn2/pipeline/pl_HandsOn2.json
{
	"name": "pl_HandsOn2",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata_ReadingParquetFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_parquetfiles_generic",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "parquetfiles",
							"fileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata_ReadingParquetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_ReadingParquetFiles').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "HandsOn2"
		},
		"annotations": []
	}
}